<a href="https://colab.research.google.com/github/Zeeshan2012/ZOMATO-RESTAURANT-CLUSTERING-AND-SENTIMENT-ANALYSIS/blob/main/ZOMATO_RESTAURANT_CLUSTERING_AND_SENTIMENT_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem Statement**

Zomato is an Indian restaurant aggregator and food delivery start-up founded by Deepinder Goyal and Pankaj Chaddah in 2008. Zomato provides information, menus and user-reviews of restaurants, and also has food delivery options from partner restaurants in select cities.

India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity. Restaurant business in India is always evolving. More Indians are warming up to the idea of eating restaurant food whether by dining outside or getting food delivered. The growing number of restaurants in every state of India has been a motivation to inspect the data to get some insights, interesting facts and figures about the Indian food industry in each city. So, this project focuses on analysing the Zomato restaurant data for each city in India.

The Project focuses on Customers and Company, you have  to analyze the sentiments of the reviews given by the customer in the data and made some useful conclusion in the form of Visualizations. Also, cluster the zomato restaurants into different segments. The data is vizualized as it becomes easy to analyse data at instant. The Analysis also solve some of the business cases that can directly help the customers finding the Best restaurant in their locality and for the company to grow up and work on the fields they are currently lagging in.

This could help in clustering the restaurants into segments. Also the data has valuable information around cuisine and costing which can be used in cost vs. benefit analysis

Data could be used for sentiment analysis. Also the metadata of reviewers can be used for identifying the critics in the industry.

# **Attribute Information**

## **Zomato Restaurant names and Metadata**
Use this dataset for clustering part

1. Name : Name of Restaurants

2. Links : URL Links of Restaurants

3. Cost : Per person estimated Cost of dining

4. Collection : Tagging of Restaurants w.r.t. Zomato categories

5. Cuisines : Cuisines served by Restaurants

6. Timings : Restaurant Timings

## **Zomato Restaurant reviews**
Merge this dataset with Names and Matadata and then use for sentiment analysis part

1. Restaurant : Name of the Restaurant

2. Reviewer : Name of the Reviewer

3. Review : Review Text

4. Rating : Rating Provided by Reviewer

5. MetaData : Reviewer Metadata - No. of Reviews and followers

6. Time: Date and Time of Review

7. Pictures : No. of pictures posted with review

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [52]:
resturant_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ZOMATO RESTAURANT CLUSTERING AND SENTIMENT ANALYSIS/Zomato Restaurant names and Metadata.csv')
resturant_review_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ZOMATO RESTAURANT CLUSTERING AND SENTIMENT ANALYSIS/Zomato Restaurant reviews.csv')

In [22]:
resturant_data.head()

,Name,Links,Cost,Collections,Cuisines,Timings
0,Beyond Flavours,https://www.zomato.com/hyderabad/beyond-flavou...,800.0,"Food Hygiene Rated Restaurants in Hyderabad, C...","Chinese, Continental, Kebab, European, South I...","12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)"
1,Paradise,https://www.zomato.com/hyderabad/paradise-gach...,800.0,Hyderabad's Hottest,"Biryani, North Indian, Chinese",11 AM to 11 PM
2,Flechazo,https://www.zomato.com/hyderabad/flechazo-gach...,1300.0,"Great Buffets, Hyderabad's Hottest","Asian, Mediterranean, North Indian, Desserts","11:30 AM to 4:30 PM, 6:30 PM to 11 PM"
3,Shah Ghouse Hotel & Restaurant,https://www.zomato.com/hyderabad/shah-ghouse-h...,800.0,Late Night Restaurants,"Biryani, North Indian, Chinese, Seafood, Bever...",12 Noon to 2 AM
4,Over The Moon Brew Company,https://www.zomato.com/hyderabad/over-the-moon...,1200.0,"Best Bars & Pubs, Food Hygiene Rated Restauran...","Asian, Continental, North Indian, Chinese, Med...","12noon to 11pm (Mon, Tue, Wed, Thu, Sun), 12no..."

In [10]:
resturant_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         105 non-null    object
 1   Links        105 non-null    object
 2   Cost         105 non-null    object
 3   Collections  51 non-null     object
 4   Cuisines     105 non-null    object
 5   Timings      104 non-null    object
dtypes: object(6)
memory usage: 5.0+ KB

There are null values in the Collection column

#Data Preprocessing

##Rastaurant Names and Metadata
The cost column contains the commas within the price value and it is string datatype. We can remove the commas and convert them into float datatype.

In [20]:
print(resturant_data['Cost'])
resturant_data['Cost'].dtype

0        800
1        800
2      1,300
3        800
4      1,200
       ...
100      600
101      200
102      500
103      250
104    1,700
Name: Cost, Length: 105, dtype: object

dtype('O')

In [21]:
# replacing "," with "" (effectively removing commas) and converting the datatype to float
resturant_data['Cost'] = resturant_data['Cost'].str.replace(",","").astype('float64')

In [23]:
#We will remove Links and Timings columns as they won't be used for the analysis.
# dropping columns
resturant_data.drop(['Links','Timings'],axis=1,inplace=True)

In [24]:
resturant_data.head()

,Name,Cost,Collections,Cuisines
0,Beyond Flavours,800.0,"Food Hygiene Rated Restaurants in Hyderabad, C...","Chinese, Continental, Kebab, European, South I..."
1,Paradise,800.0,Hyderabad's Hottest,"Biryani, North Indian, Chinese"
2,Flechazo,1300.0,"Great Buffets, Hyderabad's Hottest","Asian, Mediterranean, North Indian, Desserts"
3,Shah Ghouse Hotel & Restaurant,800.0,Late Night Restaurants,"Biryani, North Indian, Chinese, Seafood, Bever..."
4,Over The Moon Brew Company,1200.0,"Best Bars & Pubs, Food Hygiene Rated Restauran...","Asian, Continental, North Indian, Chinese, Med..."

In [26]:
#review dataset
resturant_review_data.head()

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures
0,Beyond Flavours,Rusha Chakraborty,"The ambience was good, food was quite good . h...",5,"1 Review , 2 Followers",5/25/2019 15:54,0
1,Beyond Flavours,Anusha Tirumalaneedi,Ambience is too good for a pleasant evening. S...,5,"3 Reviews , 2 Followers",5/25/2019 14:20,0
2,Beyond Flavours,Ashok Shekhawat,A must try.. great food great ambience. Thnx f...,5,"2 Reviews , 3 Followers",5/24/2019 22:54,0
3,Beyond Flavours,Swapnil Sarkar,Soumen das and Arun was a great guy. Only beca...,5,"1 Review , 1 Follower",5/24/2019 22:11,0
4,Beyond Flavours,Dileep,Food is good.we ordered Kodi drumsticks and ba...,5,"3 Reviews , 2 Followers",5/24/2019 21:37,0

In [29]:
#we will rename a column Name to resturant in resturant_data dataset
resturant_data.rename(columns = {'Name':'Restaurant'},inplace = True)

In [32]:
resturant_review_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Restaurant  10000 non-null  object
 1   Reviewer    9962 non-null   object
 2   Review      9955 non-null   object
 3   Rating      9962 non-null   object
 4   Metadata    9962 non-null   object
 5   Time        9962 non-null   object
 6   Pictures    10000 non-null  int64
dtypes: int64(1), object(6)
memory usage: 547.0+ KB

There are null values in every column except Resturant and Pictures columns

In [34]:
resturant_review_data['Restaurant'].unique()

array(['Beyond Flavours', 'Paradise', 'Flechazo',
       'Shah Ghouse Hotel & Restaurant', 'Over The Moon Brew Company',
       "The Fisherman's Wharf", 'eat.fit', 'Shah Ghouse Spl Shawarma',
       'Hyper Local', 'Cream Stone', "Sardarji's Chaats & More",
       'Barbeque Nation', 'Absolute Sizzlers',
       'The Lal Street - Bar Exchange', "AB's - Absolute Barbecues",
       'KFC', 'NorFest - The Dhaba', 'Hotel Zara Hi-Fi',
       '10 Downing Street', 'Pakwaan Grand', '13 Dhaba',
       "Jonathan's Kitchen - Holiday Inn Express & Suites", 'B-Dubs',
       'Amul', 'SKYHY', 'Tiki Shack', 'Mustang Terrace Lounge',
       "3B's - Buddies, Bar & Barbecue", 'Behrouz Biryani',
       'Hunger Maggi Point', 'Pot Pourri', 'Pista House',
       'Marsala Food Company', 'Club Rogue',
       'Mazzo - Marriott Executive Apartments',
       'Green Bawarchi Restaurant', 'Banana Leaf Multicuisine Restaurant',
       'Kritunga Restaurant', 'The Glass Onion', 'Deli 9 Bistro',
       'Frio Bistro', 'Karachi Bakery', 'Karachi Cafe',
       'The Foodie Monster Kitchen', 'La La Land - Bar & Kitchen',
       'Owm Nom Nom', 'Ulavacharu', 'Shanghai Chef 2', "Udipi's Upahar",
       'Mathura Vilas', 'Gal Punjab Di', 'Hitech Bawarchi Food Zone',
       'Biryanis And More', 'Diners Pavilion', 'Asian Meal Box',
       'Cafe Eclat', 'Feast - Sheraton Hyderabad Hotel', 'Being Hungry',
       'Tempteys', 'KS Bakers', 'PourHouse7', 'Prism Club & Kitchen',
       'Shree Santosh Dhaba Family Restaurant', 'Dine O China',
       'Hyderabad Chefs', 'Komatose - Holiday Inn Express & Suites',
       'Aromas@11SIX', 'Yum Yum Tree - The Arabian Food Court',
       'The Tilt Bar Republic', 'The Indi Grill',
       'Urban Asia - Kitchen & Bar', 'Eat India Company', 'Labonel',
       'Driven Cafe', 'Faasos', 'Royal Spicy Restaurant',
       'The Old Madras Baking Company', 'Squeeze @ The Lime',
       'Khaan Saab', 'Olive Garden', 'Tandoori Food Works', 'Delhi-39',
       'Al Saba Restaurant', "GD's", 'T Grill', 'Momos Delight',
       'The Chocolate Room', 'American Wild Wings', "Domino's Pizza",
       'Mohammedia Shawarma', 'Arena Eleven',
       'Cascade - Radisson Hyderabad Hitec City',
       'Collage - Hyatt Hyderabad Gachibowli', "Zing's Northeast Kitchen",
       "Dunkin' Donuts", 'Desi Bytes', 'Hyderabadi Daawat',
       'Zega - Sheraton Hyderabad Hotel', 'Triptify', 'Chinese Pavilion'],
      dtype=object)

In [40]:
resturant_review_data['Rating'].value_counts()

5       3832
4       2373
1       1735
3       1193
2        684
4.5       69
3.5       47
2.5       19
1.5        9
Like       1
Name: Rating, dtype: int64

There is one value in the Rating column 'Like' which doesn't give any specific score. We can remove it.

In [46]:
resturant_review_data[resturant_review_data['Rating'] == 'Like']

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures
7601,The Old Madras Baking Company,Dhanasekar Kannan,One of the best pizzas to try. It served with ...,Like,"12 Reviews , 21 Followers",5/18/2019 12:31,1

In [53]:
resturant_review_data.drop(7601, axis = 0, inplace = True)

In [58]:
resturant_review_data['Rating'].astype('float64')

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
9995    3.0
9996    4.5
9997    1.5
9998    4.0
9999    3.5
Name: Rating, Length: 9999, dtype: float64

The time column is in object format as well. We can convert them into datetime.

In [66]:
type(resturant_review_data['Time'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [63]:
# converting to datetime
import datetime
resturant_review_data['Time'] = pd.to_datetime(resturant_review_data['Time'])

#Handling Null Values
##Restaurant data

In [68]:
# missing value percentage
(resturant_data.isna().sum()/len(resturant_data))*100

Name            0.000000
Links           0.000000
Cost            0.000000
Collections    51.428571
Cuisines        0.000000
Timings         0.952381
dtype: float64

The collection has more than 51 % missing values. The collection column describes the restaurant with Zomato's categories. The missing values can be replaced with "Unknown" and we can use it for some exploratory analysis. But we won't be using it for cluster analysis as the null values are too high.

In [70]:
# Replacing null values
resturant_data['Collections'].fillna('unknown',inplace=True)

# Reviews data

In [73]:
# missing value percentage
(resturant_review_data.isna().sum()/len(resturant_review_data))*100

Restaurant    0.000000
Reviewer      0.380038
Review        0.450045
Rating        0.380038
Metadata      0.380038
Time          0.380038
Pictures      0.000000
dtype: float64

The percentage of missing values is negligible and those rows can be simply dropped.

In [74]:
# Dropping the rows with missing values
resturant_review_data.dropna(inplace=True)